{% extends 'base.html' %}

{% block content %}

    <div class="card mx-auto my-5" style="width: 25rem;">
        <h2 class="font-weight-bolder text-center">{{ client.raison_sociale }}</h2>
        <div class="card-body">
        <p><span class="font-weight-bolder">Nom : </span>{{ client.first_name }}</p>
        <p><span class="font-weight-bolder">Prenom : </span> {{ client.last_name }}</p>
        <p><span class="font-weight-bolder">N° SIRET : </span> {{ client.siret }}</p>
        <p><span class="font-weight-bolder">N° TVA : </span> {{ client.tva }}</p>
        <p><span class="font-weight-bolder">N° Tel : </span> {{ client.tel }}</p>
        <p><span class="font-weight-bolder">Email : </span> {{ client.email }}</p>
        <p><a href="#" class="btn btn-primary">Changer Infos</a></p>
        </div>
    </div>


{% endblock %}