{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<h1 class="text-center mt-5 mb-5">Liste des Factures</h1>
<table class="table table-striped w-75 mx-auto mb-5">
    <thead>
        <tr>
            <th scope="col">N° de Facture</th>
            <th scope="col">Nom Client</th>
            <th scope="col">Raison Sociale</th>
            <th scope="col">Date</th>
            <th scope="col">Voir</th>
        </tr>
    </thead>
    <tbody>
        {% for facture in object_list %}     
        <tr>
            <th scope="row">{{ facture.id }}</th>
            <td>{{ facture.client.last_name }}</td>
            <td>{{ facture.client.raison_sociale }}</td>
            <td>{{ facture.date }}</td>
            <td><a href="{% url 'detail-facture' facture.id %}" class="text-dark">Consulter</a></td>

            {% comment %}
        {% endcomment %}
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}