{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<h1 class="text-center mt-5 mb-5">Liste des Devis</h1>
<table class="table table-striped w-75 mx-auto mb-5">
    <thead>
        <tr>
            <th scope="col">N° devis</th>
            <th scope="col">Nom Client</th>
            <th scope="col">Raison Sociale</th>
            <th scope="col">Date</th>
            <!-- <th scope="col">Voir</th>
            <th scope="col">Del</th> -->
        </tr>
    </thead>
    <tbody>
        {% for devis in object_list %}     
        <tr>
            <th scope="row">{{ devis.id }}</th>
            <td>{{ devis.client_devis.last_name }}</td>
            <td>{{ devis.client_devis.raison_sociale }}</td>
        <td>{{ devis.date }}</td>

        <td><a href="{% url 'detail-devis' devis.id %}" class="text-dark">Consulter</a></td>
        {% comment %}
        <td><button data-toggle="modal" data-target="#supDevist{{ devis.client_devis.id }}"  class="btn btn-danger"><a href="#" class="text-white">Delete</a></button></td>
        {% endcomment %}
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}